/*------------------------------------*\
  #FONTS
\*------------------------------------*/
/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Open Sans', 'HK Grotesk web', Helvetica, arial, sans-serif;
    color: #0c0d0c;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #3ec18f;
    color: white;
    text-shadow: none;
  }
  
  ::selection {
    background: #3ec18f;
    color: white;
    text-shadow: none;
  }
  
  /*------------------------------------*\
    #Elements
  \*------------------------------------*/
  
  /*
      Elements: Images
      ---
      Default markup for images to make them responsive
  */
  
  img {
    max-width: 100%;
    vertical-align: top;
  }
  
  /*
      Elements: typography
      ---
      Default markup for typographic elements
  */
  
  h1,
  h2,
  h3 {
    font-weight: 700;
  }
  
  h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 24px;
  }
  
  h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 24px;
  }
  
  h3 {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 24px;
  }
  
  h4,
  h5,
  h6 {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 24px;
  }
  
  p,
  ol,
  ul,
  dl,
  table,
  address,
  figure {
    margin: 0 0 24px;
  }
  
  ul,
  ol {
    padding-left: 24px;
  }
  
  li ul,
  li ol {
    margin-bottom: 0;
  }
  
  blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
  }
  
  blockquote * {
    font-size: inherit;
    line-height: inherit;
  }
  
  figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
  }
  
  hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 8px;
  }
  
  a {
    color: RoyalBlue;
    transition: all 0.1s ease-in-out;
  }
  
  a:visited,
  a:active {
    color: #30c2ff;
  }
  
  a:hover,
  a:focus {
    color: #19a26d;
  }
  
  /*------------------------------------*\
    #OBJECTS
  \*------------------------------------*/
  
  /*
      Objects: Row
      ---
      Creates a horizontal row that stretches the viewport and adds padding around children
  */
  
  .o-row {
    position: relative;
    padding: 24px 24px 0;
    display: flex;
    flex-direction: column;
  }
  .o-row--sm {
    padding: 16px 16px 0;
    align-items:flex-end;
  }
   .o-row--s {
    padding: 16px 16px 0;
  }
  .o-row--color {
    background-color: #0c0d0c;
  }
  
  /* size modifiers */
  
  .o-row--lg {
    padding-top: 48px;
    padding-bottom: 24px;
  }
  
  .o-row--xl {
    padding-top: 72px;
    padding-bottom: 48px;
  }
  
  @media (min-width: 768px) {
    .o-row {
      padding-left: 48px;
      padding-right: 48px;
    }
  
    .o-row--md {
      padding-top: 48px;
      padding-bottom: 24px;
    }
  
    .o-row--lg {
      padding-top: 72px;
      padding-bottom: 48px;
    }
  }
  
  @media (min-width: 992px) {
    .o-row--xl {
      padding-top: 96px;
      padding-bottom: 72px;
    }
  }
  
  /*
      Objects: Container
      ---
      Creates a horizontal container that sets de global max-width
  */
  
  .o-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 90em; /* 90 * 16px = 1440px */
  }
  
  /*
      Objects: section
      ---
      Creates vertical whitespace between adjacent sections inside a row
  */
  
  .o-section {
    display: flex;
    flex-direction: column;
  }
  
  .o-section + .o-section {
    margin-top: 24px;
  }
  
  @media (min-width: 768px) {
    .o-section--lg + .o-section--lg,
    .o-section--xl + .o-section--xl {
      margin-top: 48px;
    }
  }
  
  @media (min-width: 1200px) {
    .o-section--xl + .o-section--xl {
      margin-top: 72px;
    }
  }
  
  /*
      Objects: Layout
      ---
      The layout object provides us with a column-style layout system. This object
      contains the basic structural elements, but classes should be complemented
      with width utilities
  */
  
  .o-layout {
    display: flex;
    flex-wrap: wrap;
  }
  
  .o-layout__item {
    width: 100%;
  }
  
  /* gutter modifiers, these affect o-layout__item too */
  
  .o-layout--gutter {
    margin: 0 -12px;
  }
  
  .o-layout--gutter > .o-layout__item {
    padding: 0 12px;
  }
  
  .o-layout--gutter-sm {
    margin: 0 -6px;
  }
  
  .o-layout--gutter-sm > .o-layout__item {
    padding: 0 6px;
  }
  
  .o-layout--gutter-lg {
    margin: 0 -24px;
  }
  
  .o-layout--gutter-lg > .o-layout__item {
    padding: 0 24px;
  }
  
  .o-layout--gutter-xl {
    margin: 0 -48px;
  }
  
  .o-layout--gutter-xl > .o-layout__item {
    padding: 0 48px;
  }
  
  /* reverse horizontal row modifier */
  
  .o-layout--row-reverse {
    flex-direction: row-reverse;
  }
  
  /* Horizontal alignment modifiers*/
  
  .o-layout--justify-start {
    justify-content: flex-start;
  }
  
  .o-layout--justify-end {
    justify-content: flex-end;
  }
  
  .o-layout--justify-center {
    justify-content: center;
  }
  
  .o-layout--justify-space-around {
    justify-content: space-around;
  }
  
  .o-layout--justify-space-evenly {
    justify-content: space-evenly;
  }
  
  .o-layout--justify-space-between {
    justify-content: space-between;
  }
  
  /* Vertical alignment modifiers */
  
  .o-layout--align-start {
    align-items: flex-start;
  }
  
  .o-layout--align-end {
    align-items: flex-end;
  }
  
  .o-layout--align-center {
    align-items: center;
  }
  
  .o-layout--align-baseline {
    align-items: baseline;
  }
  
  /* Vertical alignment modifiers that only work if there is more than one flex item */
  
  .o-layout--align-content-start {
    align-content: start;
  }
  
  .o-layout--align-content-end {
    align-content: end;
  }
  
  .o-layout--align-content-center {
    align-content: center;
  }
  
  .o-layout--align-content-space-around {
    align-content: space-around;
  }
  
  .o-layout--align-content-space-between {
    align-content: space-between;
  }
  
  /*
      Objects: List
      ---
      Small reusable object to remove default list styling from lists
  */
  
  .o-list {
    list-style: none;
    padding: 0;
  }
  
  /*
      Object: Button reset
      ---
      Small button reset object
  */
  
  .o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
  
    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;
  
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
  
    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
  
    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
  }
  
  /*------------------------------------*\
    #COMPONENTS
  \*------------------------------------*/
  /*
      Component: Logo
      ---
      Website main logo
  */
  .link {
    position: absolute;
    width: 7%;
    height: 100%;
    top: 0;
    right: 10px;
    z-index: 10;
  }
  .link-2 {
    position: absolute;
    width: 7%;
    height: 100%;
    top: 0;
    left: 10px;
    z-index: 10;
  }
  .hot{
    color:#4D2E2E;
    fill:rgb(216, 47, 47);;
  }
  .cold{
    color:#00222F;
    fill: rgb(2, 136, 189);
  }
  .hot .c-header {
    background: #FFFCFC;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
  }
  .cold .c-header {
    background: #FCFEFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
  }
  .hot .c-header{
    /* fill: rgba(216, 47, 47, 0.6); */
    color: rgba(216, 47, 47, 0.6);
  }
  .cold .c-header{
    /* fill: rgba(2, 136, 189, 0.6); */
    color: rgba(2, 136, 189, 0.6);
  }
  .cold .is_selected {
    fill: rgb(2, 136, 189);
    color: rgb(2, 136, 189);
  }
  .hot .is_selected {
    fill: rgb(216, 47, 47);
    color: rgb(216, 47, 47);
  }
  .c-header{
    width: 100%;
    height: 56px;
  }
  .c-header__tab {
    text-align: center;
    
    /* background: transparent; */
  }
  .c-header__tab.is_selected {
    border-bottom-width: 2px solid;
    border-bottom-style: solid;
    border-bottom-color: inherit;
  }
  .c-tab__description {
    margin-top: -8px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
  .c-tab__logo {
    width: 100%;
    margin-top: 16px;
  }
  
  .c-logo {
    height: 32px;
  }
  
  .c-logo__symbol {
    height: 100%;
  }
  
  @media (min-width: 768px) {
    .c-logo {
      height: 40px;
    }
  }
  
  /*
      Component: Nav
      ---
      Main navigation of the site
  */
  
  .c-nav {
    font-size: 16px;
    line-height: 24px;
  }
  
  .c-nav__link {
    text-decoration: none;
    padding: 8px 16px;
    display: block;
  }
  
  .c-nav__link,
  .c-nav__link:visited,
  .c-nav__link:active {
    color: #afb3b1;
  }
  
  .is-active .c-nav__link,
  .c-nav__link:hover,
  .c-nav__link:focus {
    color: #3ec18f;
  }
  
  @media (min-width: 768px) {
    .c-nav__list {
      display: flex;
      margin-left: -16px;
      margin-right: -16px;
    }
  
    .c-nav__link {
    }
  }
  
  /*
      Component: header
      ---
      Main header of the website
  */
  
  /* .c-header__nav {
    display: none;
  }
  
  @media (min-width: 992px) {
    .c-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .c-header__nav {
      display: block;
    }
  } */
  
  /*
      Component: Lead
      ---
      Lead type treatments to style everything that differs from standard typography elements
  */
  
  .c-lead {
    font-weight: 400;
  }
  .c-lead--white {
    color: #ffffff;
  }
  
  .c-lead--lg {
    font-size: 20px;
    line-height: 32px;
  }
  
  .c-lead--xl {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
  
  .c-lead--xxl {
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
  }
  
  .c-lead--xxxl {
    font-size: 36px;
    line-height: 48px;
  }
  
  @media (min-width: 768px) {
    .c-lead--lg {
      font-size: 23px;
      line-height: 32px;
    }
  
    /* .c-lead--xl {
          font-size: 32px;
          line-height: 40px;
      } */
  
    /* .c-lead--xxl {
          font-size: 41px;
          line-height: 48px;
      } */
  
    .c-lead--xxxl {
      font-size: 52px;
      line-height: 64px;
    }
  }
  @media (min-width: 992px) {
    .c-lead--lg {
      font-size: 23px;
      line-height: 32px;
    }
  
    /* .c-lead--xl {
          font-size: 32px;
          line-height: 40px;
      } */
  
    .c-lead--xxl {
      font-size: 48px;
      line-height: 48px;
    }
  
    .c-lead--xxxl {
      font-size: 52px;
      line-height: 64px;
    }
  }
  
  @media (min-width: 1200px) {
    .c-lead--lg {
      font-size: 26px;
      line-height: 36px;
    }
    /*
      .c-lead--xl {
          font-size: 36px;
          line-height: 48px;
      } */
  
    .c-lead--xxl {
      font-size: 67px;
      line-height: 72px;
    }
  
    /* .c-lead--xxxl {
          font-size: 67px;
          line-height: 72px;
      } */
  }
  
  /*
      Component: CTA link
      ---
      Small cta link
  */
  
  .c-link-cta {
    color: #30c2ff;
  }
  
  /*
      Component: CTA btn
      ---
      Small cta btn with custom animation
  */
  
  .c-btn-cta {
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    padding: 16px 40px;
    border-radius: 3px;
    background: #3ec18f;
  }
  
  .c-btn-cta,
  .c-btn-cta:visited,
  .c-btn-cta:active {
    color: #fff;
  }
  
  .c-btn-cta:hover,
  .c-btn-cta:focus {
    color: #fff;
    background: #19a26d;
  }
  
  .c-btn-cta:active {
    background-color: #19a26d;
  }
  
  .c-btn-cta--nav {
    padding: 8px 24px;
    font-size: 16px;
    line-height: 24px;
  }
  
  .c-btn-cta:hover {
    background-position: right center;
  }
  
  .c-btn-cta a {
    text-decoration: none;
    color: white;
  }
  
  .c-title {
    text-align: center;
    font-size: 20px;
    line-height: 27px;
  }
  .c-title--sm {
    
    font-size: 12px;
    line-height: 16px;
  }
  .c-title--tips{
      margin-bottom:8px;
  }
  .c-temp {

  }
  .c-temp--main {
    text-align: center;
    font-size: 72px;
    line-height: 96px;
  }
  .c-temp--sm {
    font-size: 32px;
    line-height: 48px;
  }
  .c-icon {
  }
  .c-sensor {
    font-size: 20px;
    line-height: 27px;
  }
  .c-sensor__data {
    text-align: center;
  }
  .c-sensor__status {
    text-align: right;
  }
  .c-edit{
    padding: 16px 16px 0px 0px ;
  }
  .c-edit__icon{
    float:right;
  }
  .hot .fab {
   width: 70px;
   height: 70px;
   background-color: rgb(216, 47, 47);
   border-radius: 50%;
   box-shadow: 0 6px 10px 0 #666;
   
   font-size: 50px;
   line-height: 70px;
   color: #FFFCFC;
   text-align: center;
   
   position: fixed;
   right: 50px;
   bottom: 50px;
   
  transition: all 0.1s ease-in-out;
}

.cold .fab {
   width: 70px;
   height: 70px;
   background-color: rgb(2, 136, 189);
   border-radius: 50%;
   box-shadow: 0 6px 10px 0 #666;
   
   font-size: 50px;
   line-height: 70px;
   color: #FCFEFF;
   text-align: center;
   
   position: fixed;
   right: 50px;
   bottom: 50px;
   
  transition: all 0.1s ease-in-out;
}

.fab:hover {
   box-shadow: 0 6px 14px 0 #666;
   transform: scale(1.05);
}
  /*------------------------------------*\
    #UTILITIES
  \*------------------------------------*/
  
  /*
      Utilities: spacing
      ---
      Utility classes to put specific margins and paddings onto elements
  */
  .u-space{
    padding-top:40px;
  }
  .u-fl-r{
    float:right;
  }
  .u-center {
    text-align: center;
  }
  .u-left {
    text-align: left;
  }
  .u-right {
    text-align: right;
  }
  .u-cold {
    fill: rgba(2, 136, 189, 0.6);
    color: rgba(2, 136, 189, 0.6);
  }
  .u-hot {
    fill: rgba(216, 47, 47, 0.6);
    color: rgba(216, 47, 47, 0.6);
  }
  .u-mt-neg{
   margin-top:-24px;
  }
  .u-pt-clear {
    padding-top: 0 !important;
  }
  
  .u-mb-clear {
    margin-bottom: 0 !important;
  }
  
  .u-mb-xs {
    margin-bottom: 4px !important;
  }
  
  .u-mb-sm {
    margin-bottom: 8px !important;
  }
  
  .u-mb-md {
    margin-bottom: 16px !important;
  }
  
  .u-mb-lg {
    margin-bottom: 32px !important;
  }
  
  .u-mb-xl {
    margin-bottom: 48px !important;
  }
  .u-pl-20{
    padding-left:20px;
  }
  .u-pt-16{
    padding-top: 16px;
  }
  /*
      Utilities: max-width
      ---
      Utility classes to put specific max widths onto elements
  */
  
  .u-max-width-xs {
    max-width: 22em !important;
  }
  
  .u-max-width-sm {
    max-width: 26em !important;
  }
  
  .u-max-width-md {
    max-width: 36em !important;
  }
  
  .u-max-width-lg {
    max-width: 66em !important;
  }
  
  .u-max-width-none {
    max-width: none !important;
  }
  
  .u-resp-max-width {
    max-width: 18em;
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .u-resp-max-width {
      max-width: 26em;
    }
  }
  
  @media (min-width: 992px) {
    .u-resp-max-width {
      max-width: 66em;
      text-align: left;
    }
  }
  
  /*
      Utility: Widths
      ---
      Utility classes to put specific widths onto elements
      Will be mostly used on o-layout__item
  */
  
  .u-width-auto {
    width: auto !important;
  }
  
  .u-1-of-2 {
    width: 50% !important;
  }
  
  .u-1-of-3 {
    width: 33.3333333333% !important;
  }
  
  .u-2-of-3 {
    width: 66.6666666667% !important;
  }
  
  .u-1-of-4 {
    width: 25% !important;
  }
  
  .u-3-of-4 {
    width: 75% !important;
  }
  
  .u-1-of-5 {
    width: 20% !important;
  }
  
  .u-2-of-5 {
    width: 40% !important;
  }
  
  .u-3-of-5 {
    width: 60% !important;
  }
  
  .u-4-of-5 {
    width: 80% !important;
  }
  
  .u-1-of-6 {
    width: 16.6666666667% !important;
  }
  
  .u-5-of-6 {
    width: 83.3333333333% !important;
  }
  
  @media (min-width: 576px) {
    .u-1-of-2-bp1 {
      width: 50% !important;
    }
    .u-1-of-3-bp1 {
      width: 33.3333333333% !important;
    }
    .u-2-of-3-bp1 {
      width: 66.6666666667% !important;
    }
    .u-1-of-4-bp1 {
      width: 25% !important;
    }
    .u-3-of-4-bp1 {
      width: 75% !important;
    }
    .u-1-of-5-bp1 {
      width: 20% !important;
    }
    .u-2-of-5-bp1 {
      width: 40% !important;
    }
    .u-3-of-5-bp1 {
      width: 60% !important;
    }
    .u-4-of-5-bp1 {
      width: 80% !important;
    }
    .u-1-of-6-bp1 {
      width: 16.6666666667% !important;
    }
    .u-5-of-6-bp1 {
      width: 83.3333333333% !important;
    }
  }
  
  @media (min-width: 768px) {
    .u-1-of-2-bp2 {
      width: 50% !important;
    }
    .u-1-of-3-bp2 {
      width: 33.3333333333% !important;
    }
    .u-2-of-3-bp2 {
      width: 66.6666666667% !important;
    }
    .u-1-of-4-bp2 {
      width: 25% !important;
    }
    .u-3-of-4-bp2 {
      width: 75% !important;
    }
    .u-1-of-5-bp2 {
      width: 20% !important;
    }
    .u-2-of-5-bp2 {
      width: 40% !important;
    }
    .u-3-of-5-bp2 {
      width: 60% !important;
    }
    .u-4-of-5-bp2 {
      width: 80% !important;
    }
    .u-1-of-6-bp2 {
      width: 16.6666666667% !important;
    }
    .u-5-of-6-bp2 {
      width: 83.3333333333% !important;
    }
  }
  
  @media (min-width: 992px) {
    .u-1-of-2-bp3 {
      width: 50% !important;
    }
    .u-1-of-3-bp3 {
      width: 33.3333333333% !important;
    }
    .u-2-of-3-bp3 {
      width: 66.6666666667% !important;
    }
    .u-1-of-4-bp3 {
      width: 25% !important;
    }
    .u-3-of-4-bp3 {
      width: 75% !important;
    }
    .u-1-of-5-bp3 {
      width: 20% !important;
    }
    .u-2-of-5-bp3 {
      width: 40% !important;
    }
    .u-3-of-5-bp3 {
      width: 60% !important;
    }
    .u-4-of-5-bp3 {
      width: 80% !important;
    }
    .u-1-of-6-bp3 {
      width: 16.6666666667% !important;
    }
    .u-5-of-6-bp3 {
      width: 83.3333333333% !important;
    }
  }
  
  @media (min-width: 1200px) {
    .u-1-of-2-bp4 {
      width: 50% !important;
    }
    .u-1-of-3-bp4 {
      width: 33.3333333333% !important;
    }
    .u-2-of-3-bp4 {
      width: 66.6666666667% !important;
    }
    .u-1-of-4-bp4 {
      width: 25% !important;
    }
    .u-3-of-4-bp4 {
      width: 75% !important;
    }
    .u-1-of-5-bp4 {
      width: 20% !important;
    }
    .u-2-of-5-bp4 {
      width: 40% !important;
    }
    .u-3-of-5-bp4 {
      width: 60% !important;
    }
    .u-4-of-5-bp4 {
      width: 80% !important;
    }
    .u-1-of-6-bp4 {
      width: 16.6666666667% !important;
    }
    .u-5-of-6-bp4 {
      width: 83.3333333333% !important;
    }
  }
  
  /*------------------------------------*\
    #MEDIA
  \*------------------------------------*/
  
  /*
      Media Queries
      ---
      EXAMPLE Media Queries for Responsive Design.
      These examples override the primary ('mobile first') styles.
      USE THEM INLINE!
  */
  
  /* Extra small devices (portrait phones, less than 576px)
     No media query since this is the default in mobile first design
  */
  
  /* Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {}
  */
  
  /* Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {}
  */
  
  /* Large devices (landscape tablets, desktops, 992px and up)
  @media (min-width: 992px) {}
  */
  
  /* Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {}
  */
  
  /*
      Print styles.
      ---
      Inlined to avoid the additional HTTP request:
      http://www.phpied.com/delay-loading-your-print-css/
  */
  
  @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      /* Black prints faster: http://www.sanbeiji.com/archives/953 */
      box-shadow: none !important;
      text-shadow: none !important;
    }
    a,
    a:visited {
      text-decoration: underline;
    }
    a[href]:after {
      content: ' (' attr(href) ')';
    }
    abbr[title]:after {
      content: ' (' attr(title) ')';
    }
    /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
    a[href^='#']:after,
    a[href^='javascript:']:after {
      content: '';
    }
    pre {
      white-space: pre-wrap !important;
    }
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
    /*
       * Printing Tables:
       * http://css-discuss.incutio.com/wiki/Printing_Tables
       */
    thead {
      display: table-header-group;
    }
    tr,
    img {
      page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  